{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!-- Your stuff: Third-party CSS libraries go here -->
    
    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>   
    {% endblock %}

  </head>

  <body>

    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>Hans<b>Berger<b></h3>
              <strong>HB</strong>
          </div>

          <ul class="list-unstyled components">
              <li class="active">
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                      <i class="fas fa-home fa-lg "></i>
                      Home
                  </a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="/">Home </a>
                      </li>
                      <li>
                          <a href="/research/">Research</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-briefcase fa-lg "></i>
                      About
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-paper-plane fa-lg "></i>
                      Contact
                  </a>
              </li>
          </ul>
     </nav>

  <div class="gradient mt-0 pt-0"  style="background: rgb(212,218,228);background: -moz-linear-gradient(90deg, rgba(212,218,228,1) 0%, rgba(147,175,226,1) 52%);background: -webkit-linear-gradient(90deg, rgba(212,218,228,1) 0%, rgba(147,175,226,1) 52%);background: linear-gradient(90deg, rgba(212,218,228,1) 0%, rgba(147,175,226,1) 52%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4dae4',endColorstr='#93afe2',GradientType=1);">
      <div class="container-fluid pb-5 pt-5 ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 m-1">
          <div class="container-fluid">
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-justify"></i>
            </button>

            {% block topbar %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="research/">Research</a>
                </li>
              </ul>
            </div>
            {% endblock topbar %}

          </div>
        </nav>
      </div>
    </div>


      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      <div id="content" class="mt-n5">
          <div class="container-inner mt-n4">
              <div class="jumbotron ">
      
      {% block content %}
      <h1 class="display-3">Hansberger, web app!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead text-right">
          <a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more</a>
      </p>       
    {% endblock content %}
          </div>
      </div>
  </div> <!-- content end -->
    <div class="footer m-0 p-0 py-2 pr-2 container-fluid bg-dark " >
      <p class="light-weighted pt-2 text-right">Copyright ©2019 - <a href="#" class="text-white">Alessio Acella</a> - All rights Reserved.</p>
    </div>
  </div> <!-- wrapper end -->
    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      
      <!-- Bootstrap JS and its dependencies-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      
      <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        </script>

    {% endblock javascript %}

  </body>
</html>
 
