{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Delete Bottleneck{% endblock %}
{% block sidebar %}
<li>
    <a href="/research/{{bottleneck.window.analysis.research.slug}}/">
        Research: {{bottleneck.window.analysis.research.slug}}
    </a>
</li>
<li>
    <a href="/research/{{bottleneck.window.analysis.research.slug}}/analysis/{{bottleneck.window.analysis.slug}}">
        Analysis: {{bottleneck.window.analysis.slug}}
    </a>
</li>
<li>
    <a href="/research/{{bottleneck.window.analysis.research.slug}}/analysis/{{bottleneck.window.analysis.slug}}/windows/{{bottleneck.window.slug}}">
        Window: {{bottleneck.window.slug}}
    </a>
</li>
{% endblock sidebar %}
{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="../">Back</a>
        </li>
    </ul>
  </div>
{% endblock topbar %}
{% block content %}

<form method="post" action="{% url 'analysis:bottleneck-delete-ONE' bottleneck.window.analysis.research.slug bottleneck.window.analysis.slug bottleneck.window.slug bottleneck.homology%}">
    {% csrf_token %}
    {{ form|crispy }}
    <p> Are you sure you want to delete the bottleneck? </p>
    <input type="submit" class="btn btn-success" value="Confirm">
</form>

{% endblock %}