{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% crispy form form.helper %}
<script>
        function hideDistanceMatrixMetric(filtrationType){
            if(filtrationType.value == 'CWRF'){
                document.getElementById("div_id_distance_matrix_metric").style.display = "none";
            }
            else{
                document.getElementById("div_id_distance_matrix_metric").style.display = "block";
            }   
        }
        function hideOverlap(window){
            if(window.value > 0){
                document.getElementById("div_id_window_overlap").style.display = "block";
            }else{
                document.getElementById("div_id_window_overlap").style.display = "none";
            }
        }
        document.getElementById("id_filtration_type").setAttribute("onchange", "hideDistanceMatrixMetric(this)")
        document.getElementById("id_window_size").setAttribute("onchange", "hideOverlap(this)")
        document.getElementById("id_window_size").setAttribute("onclick", "hideOverlap(this)")
        document.getElementById("div_id_window_overlap").style.display = "none";
</script>
{% endblock %}