{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Research</h2>
  <a href="create/">New Research</a>
  <div class="list-group">
    {% for research in research_list %}
      <a href="{% url 'research:research-detail' research.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ research.name }} - {{ research.creation_date }}</h4>
      </a>
    {% endfor %}
  </div>
  {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}
