{% extends "base.html" %}
{% load static i18n %}
{% block title %}Research List{% endblock %}

{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="create/" role="button" >New Research</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="../" role="button"> Back</a>
    </li>
  </ul>
</div>
{% endblock topbar %}
{% block content %}
<div class="container">
  <h2>Researches</h2>
  <div class="list-group">
    {% for research in research_list %}
      <a href="{% url 'research:research-detail' research.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ research.name }} - {{ research.creation_date }}</h4>
      </a>
    {% endfor %}
  </div>
  {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-link btn-light btn-sm" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-link btn-light btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}
