{% extends "base.html" %}
{% load static %}

{% block title %}Research: {{ research.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ research.name }}</h2>
      {% if research.description %}
        <p>{{ research.description }}</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Datasets</h2>
      <div class="list-group">
        {% for dataset in datasets %}
        <h4 class="list-group-item-heading">{{ dataset.name }} - {{ dataset.creation_date }}</h4>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}