{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
          <a class="nav-link" href="../">Back</a>
        </li>
    </ul>
  </div>
{% endblock topbar %}
{% block content %}

<form method="post" action="{% url 'analysis:analysis-delete' analysis.research.slug analysis.slug %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p> Are you sure you want to delete the analysis? </p>
    <input type="submit" value="Confirm">
</form>

{% endblock %}