{% extends "base.html" %}
{% block title %}Research{% endblock %}
{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="add/">New Analysis</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="../">Back</a>
      </li>
  </ul>
</div>
{% endblock topbar %}
{% block content %}
<div class="container">
  <h2>Analysis</h2>
  <div class="list-group">
    {% for analysis in analyses %}
        <a href="{% url 'analysis:analysis-detail' analysis.research.slug analysis.slug %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ analysis.name }} - {{ analysis.creation_date }}</h4>
       </a>
    {% endfor %}
  </div>
  {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock content %}