{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form id="bottleneck_form" action="{% url 'analysis:analysis-bottleneck-create' research.slug analysis.slug %}" method="post">
    {% csrf_token %}
    {{ form | crispy}}
    <button id="submit_button" class='btn btn-success' onclick="request_progress()">Submit</button>
</form>
<div id="popup" style="display:none; cursor: default"> 
    <div id="domMessage"></div>
    <button id="abort" onclick="request_abort()">Abort</button> 
</div> 
{% endblock %}
{% block javascript %}
{{ block.super }}
 <!-- include BlockUI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
<script>
    // invoke blockUI as needed -->
    $($(document).on('click', '#submit_button', function() {
       $.blockUI({ message: $('#popup') });
       document.getElementById("bottleneck_form").submit();
    }));

    var bottleneckSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/analysis/');

    bottleneckSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var status = data['status'];
        var limit = data['limit'];
        document.getElementById("domMessage").innerHTML = "Processing window "+status+"/"+limit;
        console.log(message)
    };

    bottleneckSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function request_status(){
        bottleneckSocket.send(JSON.stringify({
            'signal': 'status'
        }));
    }

    function request_progress(){
        setInterval(request_status, 1000);
    }

    function request_abort(){
        bottleneckSocket.send(JSON.stringify({
            'signal': 'kill'
        }));
    }
</script>
{% endblock javascript %}