{% extends "base.html" %}
{% load static %}
{% block title %}Bottleneck of Consecutive Windows{% endblock %}
{% block sidebar %}
<li>
    <a href="/research/{{analysis.research.slug}}/">
        Research: {{analysis.research.slug}}
    </a>
</li>
<li>
    <a href="/research/{{analysis.research.slug}}/analysis/{{analysis.slug}}">
        Analysis: {{analysis.slug}}
    </a>
</li>
{% endblock sidebar %}
{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
            <a class="nav-link" href="bottleneck_CONS_download/">Download bottleneck results</a>
      </li>             
      <li class="nav-item active">
        <a class="nav-link" href="delete/">Delete</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="../../">Back</a>
        </li>
    </ul>
  </div>
{% endblock topbar %}

{% block content %}
<h1>Bottleneck of Consecutive Windows</h1><br>
<div id="fig_container">
    <div id="fig_container">
        {% for diagram in diagrams %}
        <div style="text-align: center;">
        <h4>Bottleneck diagram of window {{diagram.window1.name}} to window {{diagram.window2.name}}</h4>
        {{ diagram.image | safe }}
        <p>Distance value: {{diagram.bottleneck_distance}}</p> <br>
        </div>
        {% endfor %}
</div>
{# .... **Now the pagination section** .... #}
{% if diagrams.has_other_pages %}
    <div class="pagination">
        <span class="page-links">
            {% if diagrams.has_previous %}
                <a href="?page={{ diagrams.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ diagrams.number }} of {{ diagrams.paginator.num_pages }}.
            </span>
            {% if diagrams.has_next %}
                <a href="?page={{ diagrams.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}
{% endblock content %}