{% extends "base.html" %}
{% load static %}

{% block title %} {{ analysis.name }} | {{ analysis.research.name }}{% endblock %}
{% block sidebar %}
<li>
    <a href="/research/{{analysis.research.slug}}/">
        Research: {{analysis.research.slug}}
    </a>
</li>
<li>
    <a href="/research/{{analysis.research.slug}}/analysis/{{analysis.slug}}">
        Analysis: {{analysis.slug}}
    </a>
</li>
{% endblock sidebar %}
{% block topbar %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
            <a class="nav-link" href="windows/">Results</a>
        </li>             
      <li class="nav-item active">
        <a class="nav-link" href="delete/">Delete</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="../">Back</a>
        </li>
    </ul>
  </div>
{% endblock topbar %}
{% block content %}
<div class="container">


  <div class="row">
    <div class="col-sm-12">
      <h1>{{ analysis.name }}</h1>
      {% if analysis.description %}
        <p>{{ analysis.description }}</p>
      {% endif %}
      <p>
        analysis type: {{analysis.get_type}} </br>
        {% if analysis.distance_matrix_metric %}
        distance matrix metric: {{analysis.distance_matrix_metric}} </br>
        {% endif %}
        <h4>fit_transform parameters</h4>
        <p>
        projection: {{analysis.projection}} </br>
        scaler: {{analysis.scaler}} </br>
        distance_matrix: False </br>
        </p>
        <h4>map parameters</h4>
        <p>
        use_original_data (X in original docs): {{analysis.use_original_data}} </br>
        clusterer: {{analysis.clusterer}} </br>
        cover: Cover(n_cubes={{analysis.cover_n_cubes}}, perc_overlap={{analysis.cover_perc_overlap}}) </br>
        nerve: GraphNerve(min_intersection={{analysis.graph_nerve_min_intersection}}) </br>    
        precomputed: {{analysis.precomputed}} </br>
        remove_duplicate_nodes: {{analysis.remove_duplicate_nodes}} </br>
        </p>
      </p>
    </div>
  </div>
</div>
{% endblock content %}